@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
}

body {
    font-family: 'open_sansregular', Times, serif;
    color: #F2F4F3;
}

a {
    text-decoration: none;
    color: #F2F4F3;
}

a:hover {
    color: #5da7fd;
    text-decoration: underline;
}

a.disabled {
    text-decoration: underline;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

input {
    font-family: 'open_sansregular', Times, serif;

}


button {
    font-family: 'open_sansregular', Times, serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.vl {
    flex: 0 0 1px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.align-center {
    text-align: center;
}

.fs-small {
    font-size: small;
}

.fs-medium {
    font-size: medium;
}

.fs-big {
    font-size: large;
}

.italic {
    font-style: italic;
}

.index-main {
    background-image: url("../img/bg.jpg");
    background-color: #c4c8cb;
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.navbar {
    width: 100%;
    height: 56px;
    background-color: #071013;
    text-align: center;
    margin: auto;
}

.navbar-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 24px;
}

.navbar-content .confirm-button {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .navbar-content .nav-list {
        display: none;
    }
}

.nav-list {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 0 0 68px;
    text-align: right;
    float: left;
    width: calc(100% - 68px);
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 24px;
    text-align: left;
    float: right;
}

.nav-list li:first-child {
    float: left;
}

.navbar-collapse {
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-collapse {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 30px;
        margin-left: 5%;
        background: transparent url("../img/menu.png") no-repeat;
        cursor: pointer;
        background-size: contain;
    }
}

.navbar-collapse-content {
    background-color: #071013;
    display: none;
    box-shadow: 0 4px 16px 0 rgba(28, 28, 28, 1);
    position: absolute;
    width: 150px;
    height: auto;
    text-align: left;
    margin-top: 30px;
    cursor: auto;

}

.navbar-collapse-content ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6px;
}

.navbar-collapse-content li {
    list-style-type: none;
    margin: 0 0;
    padding: 12px;
}

.navbar-collapse-content a {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.navbar-collapse-content .confirm-button {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.navbar-collapse-content--opened {
    display: block;
}

.navbar-logo {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    background-image: url("../img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin: 0 10px 0 10px;
}

@media only screen and (max-width: 600px) {
    .navbar-logo {
        float: right;
    }
}

.wrapper-content {
    margin-top: 40px;
    min-height: calc(100vh - 196px);
    position: relative;
    z-index: -1;
}

.content {
    /*box-shadow: 0 8px 16px 0 rgba(28, 28, 28, 1);*/
    background-color: #071013;
    width: 90%;
    display: flex;
    margin: auto;
    font-weight: bolder;
    border-top: #ffffff solid 2px;
    align-items: center;
}

.content-header {
    margin-top: 20px;
    background-color: #000000;
}

.content a {
    display: contents;
}

.content a .content-forum:hover {
    background-color: #1f1f1f;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}

.content-forum {
    flex: 1 1 150px;
    padding: 15px;
}

.content-forum-button {
    flex: 0 1 auto;
    padding: 15px;

}

.content-forum-button-s {
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    min-width: 50px;
}

@media only screen and (max-width: 1000px) {
    .content-forum-button {
        display: none;
    }

    .content-forum-button-s {
        display: block;
    }
}

.content-posts {
    flex: 0 1 120px;
    padding: 15px;
}

.content-last-post {
    flex: 0 1 200px;
    padding: 15px;
    word-break: break-all;
}

footer {
    margin-top: 40px;
    height: 60px;
    width: 100%;
    background-color: #071013;
}

.login {
    width: 350px;
    height: 400px;
    background-color: #071013;
    position: relative;
    margin: auto;
    font-size: 28px;
    border-radius: 6px;
    overflow: auto;
    border: #574f4f 1px solid;
}

.register {
    width: 350px;
    height: auto;
    min-height: 500px;
    background-color: #071013;
    position: relative;
    margin: auto;
    font-size: 28px;
    border-radius: 6px;
    overflow: auto;
    border: #574f4f 1px solid;
}

@media only screen and (max-width: 400px) {
    .login {
        width: 300px;
        height: 350px;
        font-size: 20px;
    }
}

.form h2 {
    margin: 15px 0 10px 0;
}

.form-col {
    width: max-content;
    height: max-content;
    margin: auto;
    overflow: auto;
}

.form-row {
    margin-top: 10px;
    text-align: center;
}

.form-row input {
    background-color: #071013;
    color: #F2F4F3;
    border: none;
    border-bottom: 1px white solid;
    outline: none;
    font-size: 18px;
}

.form-row input:invalid {
    border-bottom: 1px red solid;
}

.form-row input:focus {
    border-bottom: 2px white solid;
}

.default-button {
    margin-top: 10px;
    background-color: #F2F4F3;
    min-width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}


.default-button:hover:enabled {
    background-color: #d2d3d2;
    cursor: pointer;

}

.default-button:active:enabled {
    background-color: #44b644;
}

.forgot-password {
    font-size: 16px;
    font-weight: 550;
}

.topic-content {
    width: 95%;
    background-color: #071013;
    margin: auto;
    overflow: auto;
    border-radius: 4px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .topic-content {
        width: 100%;
    }
}

.topic-content-name {
    margin: 15px 30px 15px 10px;
}

.topic-content-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topic-content-header {
    display: flex;
    font-size: 16px;
}

.topic-content-body {
    display: flex;
    min-height: 150px;
    word-break: break-all;
    padding: 15px 0 15px 0;
}

.topic-content-author {
    flex: 0 0 200px;
    margin: 5px 25px 5px 25px;
}

.topic-content-message {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 5px;

}

.topic-content-message-header {
    font-size: 14px;
    font-weight: 400;
    border-bottom: white 1px solid;
    flex-shrink: 0;
    padding: 5px;
}

.topic-content-message-body {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    flex-grow: 1;
    padding: 15px;

}

.topic-content-message-footer {
    border-top: white 1px solid;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    flex-shrink: 0;
    padding: 5px;

}

@media only screen and (max-width: 600px) {
    .topic-content-header {
        display: block;
    }

    .topic-content-body {
        display: block;
    }

    .topic-content-author {
        border-bottom: white solid 1px;
        margin: 5px;
    }

    .topic-content-message {
        margin: 5px;
    }

}


.user-image {
    height: 128px;
    width: 128px;
}

.space {
    margin: 10px;
}

.fit {
    width: fit-content;
    padding: 20px;
    height: fit-content;
    min-height: 200px;
    margin: auto;
    background-color: #071013;
}

.error-status {
    font-size: 44px;
}

.error-detail {
    color: red;
}

.pagination {
    padding: 15px
}

.profile-content {
    width: 60%;
    background-color: #071013;
    margin: auto;
    overflow: auto;
    border-radius: 4px;
}

.profile-content-body {
    display: flex;
    word-break: break-all;
    padding: 15px 0 15px 0;

}

@media only screen and (max-width: 1000px) {
    .profile-content {
        width: 100%;
    }

    .profile-content-body {
        display: block;
        min-width: 0;
    }

    .profile-content-row1 {
        margin: 5px 25px 5px 25px;
        min-width: 0;

    }

    .profile-content-row2 {
        margin: 20px 25px 5px 25px !important;
    }
}

.profile-content-row1 {
    flex: 1 1 auto;
    margin: 5px 25px 5px 25px;

}

.profile-content-row2 {
    flex: 1 1 auto;
    margin: 5px 25px 5px 25px;
}

.confirm-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: #F2F4F3;
}

.confirm-button:hover {
    color: #5da7fd;
    text-decoration: underline;
}

.remove {
    cursor: pointer;
}

.remove:hover {
    color: red;
}

.edit {
    cursor: pointer;
}

.edit:hover {
    color: orange;
}

.wrapper {
    overflow: auto;
}

.first {
    float: left;
    margin-right: 5px;
}

.second {
    float: left;
}




