<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <title>Cats;Gate</title>
</head>
<body>
<div class="index-main">
    {% include 'nav.html' %}
    <div class="wrapper-content">
        <div class="login form">
            <form onsubmit="submitForum(); return false">
                <div class="form-row">
                    <h2>Add Forum</h2>
                </div>
                <div class="form-col">
                    <div class="form-row">
                        <label for="forum_name">Forum Name</label> <br>
                        <input type="text" name="forum_name" id="forum_name" placeholder="Enter forum name...">
                    </div>
                    <div class="form-row">
                        <button class="default-button" id="forum_add">Submit</button>
                    </div>
                    <input type="hidden" value="{{ user.id }}">
                </div>
            </form>
        </div>
    </div>
    <footer></footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>

</body>
</html>