<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <title>Cats;Gate</title>

</head>
<body>
<div class="index-main">
    {% include 'nav.html' %}
    <div class="wrapper-content">
        <div class="content content-header align-center">
            <div class="content-forum">Topic</div>
            <div class="content-posts">Posts</div>
            <div class="content-last-post">Last reply</div>
        </div>
        {% for topic in pagination.items | sort(attribute='id') %}
            <div class="content ">
                <a href="/topic/{{ topic.id }}">
                    <div class="content-forum">{{ topic.name }}</div>
                </a>
                {% if topic.user_id == user.id or user.is_admin %}
                    <button onclick="deleteTopic({{ topic.id }})">
                        X
                    </button>
                    <button onclick="window.location = '/topic/{{ topic.id }}/edit'">
                        E
                    </button>
                {% endif %}
                <div class="content-posts align-center">{{ topic.posts | count }}</div>
                {% if topic.posts %}
                    <div class="content-last-post align-center">{{ topic.posts[-1].user.username }}</div>
                {% else %}
                    <div class="content-last-post align-center">-</div>
                {% endif %}
            </div>
            <div class="space"></div>
        {% endfor %}
    </div>
    <footer>
        <div class="align-center pagination fs-big">
            <a href="/forum/{{ forum_id }}/add">ADD TOPIC</a>
            {% if page > 1 %}
                <a href="{{ url_for('topics', forum_id=forum_id).include_query_params(page = page - 1) }}">PREV</a>
            {% endif %}
            {% for pages in range(pagination.pages) %}
                <a href="{{ url_for('topics', forum_id=forum_id).include_query_params(page = pages + 1) }}"
                        {% if page == pages + 1 %}
                   class='disabled' {% endif %}>{{ pages + 1 }}</a>
            {% endfor %}
            {% if page < pagination.pages %}
                <a href="{{ url_for('topics', forum_id=forum_id).include_query_params(page = page + 1) }}">NEXT</a>
            {% endif %}
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>