<div id="navbar" class="navbar">
    <div class="navbar-content">
        <div class="navbar-collapse">
            <div class="navbar-collapse-content">
                <ul>
                    <li><a href="/"> Home</a></li>
                    {% if user is not none %}
                        <li>
                            <form action="/logout" method="POST">
                                <button type="submit" name="logout" value="logout">Go</button>
                            </form>
                        </li>
                        <li><a href="/profile/{{ user.username }}"> {{ user.username }} </a></li>
                    {% else %}
                        {% if request.url.path != "/register" %}
                            <li><a href="/register"> Register </a></li>
                        {% endif %}
                        {% if request.url.path != "/login" %}
                            <li><a href="/login"> Login </a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <ul class="nav-list">
            <li><a href="/"> Cats;Gate</a></li>
            {% if user is not none %}
                <li>
                    <form id="logout" method="POST">
                        <button type="submit" name="logout" value="logout" class="confirm-button">Logout</button>
                    </form>
                </li>
                <li><a href="/profile/{{ user.username }}"> {{ user.username }} </a></li>
            {% else %}
                {% if request.url.path != "/register" %}
                    <li><a href="/register"> Register </a></li>
                {% endif %}
                {% if request.url.path != "/login" %}
                    <li><a href="/login"> Login </a></li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="navbar-logo"></div>
    </div>
</div>