<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <title>Cats;Gate</title>
</head>
<body>
<div class="index-main">
    <div id="navbar" class="navbar">
        <div class="navbar-content">
            <div class="navbar-collapse">
                <div class="navbar-collapse-content">
                    <ul>
                        <li><a href="/"> Home </a></li>
                        <li><a href="/register"> Register </a></li>
                        <li><a href="/login"> Login </a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav-list">
                <li><a href="/"> Cats;Gate </a></li>
                <li><a href="/register"> Register </a></li>
                <li><a href="/login"> Login </a></li>
            </ul>
            <div class="navbar-logo"></div>
        </div>
    </div>
    <div class="wrapper-content">
        <div class="fit align-center">
            <div class="form-row">
                <h2>Edit your post:</h2>
            </div>
            <div class="form-col">
                <form onsubmit="editPost({{ post.id }}); return false;">
                    <div class="form-row">
                        <label for="post_header">Header:</label> <br>
                        <input type="text" name="header" id="post_header" placeholder="Enter post header..."
                               value="{{ post.header }}">
                    </div>
                    <div class="form-row">
                    <textarea name="body" id="post_body" cols="60" rows="10"
                              placeholder="Write post body...">{{ post.body }}</textarea>
                    </div>
                    <div class="form-row">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>

</body>
</html>