<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <title>Cats;Gate - Post reply</title>
</head>
<body>
<div class="index-main">
    {% include 'nav.html' %}
    <div class="wrapper-content">
        <div class="fit align-center">
            <form onsubmit="submitTopic(); return false;">
                <div class="form-row">
                    <h2>Add Topic</h2>
                </div>
                <div class="form-col">
                    <div class="form-row">
                        <label for="topic_name">Topic Name</label> <br>
                        <input type="text" name="topic_name" id="topic_name" placeholder="Enter topic name...">
                    </div>

                    <div class="form-row">
                        <label for="post_header">Header:</label> <br>
                        <input type="text" name="post_header" id="post_header" placeholder="Enter post header...">
                    </div>
                    <div class="form-row">
                    <textarea name="body" id="post_body" cols="60" rows="10"
                              placeholder="Write your post..."></textarea>
                    </div>
                    <div class="form-row">
                        <button>Submit</button>
                    </div>

                    <div class="form-row" id="error">
                    </div>

                </div>
            </form>
        </div>

    </div>
    <footer>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>

</body>
</html>